@CHARSET "ISO-8859-1";

/* 
This code is improvement of http://www.emanueleferonato.com/2007/08/22/create-a-lightbox-effect-only-with-css-no-javascript-needed/
Read the tutorial on http://menian-lee.eu/tutorial/lightbox/
Have questions? Bring them on: yasen.vasilev (at) menian-lee.eu
*/

/*
	The name of the class is explaning it's function 
	it makes everything on the page fade to black
 */

.black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	
	/* those styles make the element transparent */
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 

/*
	Style controling how the box that "pops up" looks like 
	Feel free to play around with the size values, border or background
*/

.white_box  {
   display: none;
   position: absolute;
   top: 25%;
   left: 25%;
   width: 50%;
   height: 50%;
   padding: 16px;
   border: 5px solid #ffffff;
   background: url('background.png') repeat;
   z-index:1002;
   overflow: auto;
}